*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: $font-stack;
    line-height: 1.5;
    background-color: $bg-color;
    color: $text-color;
}

h1,h2,h3,h4 {
    line-height: 1;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

.container {
    width: 100%;
    max-width: 1400px;
    height: 100%;
    margin: 0 auto;
    padding: 0 2rem;
    overflow: hidden;
}


.section {
    width: 100%;
    height: 100vh;
    padding: 2rem 0;
}

.wrapper {
    width: 100%;
    padding: 8rem 0 2rem 0;
}

.flex {
    height: 100%;
    display: flex;

    &__item {
        width: 50%;
    }

    &-ai-center {
        align-items: center;
    }
}


.icons {
    display: flex;
    font-size: 1.5rem;
    margin-right: 2rem;

    @include mq(768px) {
        font-size: 3rem;
    }

    a {
        color: $text-color;
        padding: 0.25rem 1rem;
        transition: opacity $t-time linear;

        &:hover {
            opacity: 0.6;
        }
        &:not(:last-child) {
            margin-right: 1rem;
        }
    }
}

// Text 
.xlarge {
    font-size: 4.5rem;
    letter-spacing: 3px;
    margin-bottom: 2rem;
}

.heading {
    font-size: 3.5rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 2rem;

    &::before {
        content: attr(data-count);
        font-size: 1.2em;
        color: $primary-color;
        display: inline-block;
        margin-right: 1rem;
    }
}

.email {
    font-size: 1.5rem;
    font-weight: 600;
    display: inline-block;
    margin: .5rem 0;

    @include mq(768px) {
        font-size: 2rem;
        margin: 2rem 0;
    }
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: left;

    &__wrapper {
        margin-bottom: 2rem;
    }

    &__item {
        width: 100%;
    }
}

.lines-bottom {
    position: relative;
    margin-bottom: 4.5rem;

    &::before,
    &::after {
        content: '';
        width: 6rem;
        height: 4px;
        border-radius: 5px;
        background-color: $primary-color;
        position: absolute;
        left: 0;    
    }

    &::before {
        bottom: -2rem;
    }
    &::after {
        bottom: -3rem;
        left: 3rem;
    }
}

.btn-wrap {
    width: 100%;
    @include flexCenter;
}

.btn {
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: none;
    padding: 1rem 2rem;
    background-color: $primary-color;
    color: $text-color;
    border-radius: 50rem;
}

.not-clickable {
    opacity: 0.8;
    pointer-events: none;
    &::before {
        transform: scaleX(1) !important;
    }
}

.js-slide-left {
    transform: translateX(-100%);
}

// .curtain {
//     width: 100%;
//     height: 100vh;
//     position: fixed;
//     top: 0;
//     left: 0;
//     background-color: darken($bg-color, 30%);
//     transform: translateY(100%);
//     z-index: 9999;
// }
.curtain {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: darken($bg-color, 5%);
    //transform: translateY(100%);
    transform: scaleY(0);
    transform-origin: center top;
    z-index: 9999;
}

.icon {
    width: 10rem;
}


.main-image {
    width: 100%;
    height: 70vh;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}


.title,
.title--higher {
    width: 70%;
    position: absolute;
    top: 60%;
    left: 5rem;
    z-index: 20;
    overflow: hidden;
    pointer-events: none;   

    @include mq(768px) {
        top: 50%;
        transform: translateY(-50%);
    }

    &__text {
        font-size: 5rem;
        font-weight: 400;
        color: $text-color;

        @include mq(768px) {
            font-size: 9rem;
        }
        @include mq(900px) {
            font-size: 12rem;
        }
    }
}

.title--higher {
    top: 50%;

    @include mq(768px) {
        top: 50%;
        transform: translateY(-50%);
    }
}

.image {
    display: inline-block;
    width: 100%;
    height: 60%;
    margin-top: 6rem;

    // @include mq(768px) {
    //     width: 70%;
    //     height: 80%;
    //     margin-top: 0;
    // }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        pointer-events: none;
        opacity: 0;
    }

    .page-num {
        display: none;
        @include mq(800px) {
            display: block;
            position: absolute;
            bottom: 0;
            right: 3rem;
            opacity: 0;
            z-index: 1;

            p {
                line-height: 1;
                font-size: 14rem;
                font-weight: 700;
                color: $text-color;
                text-shadow: 3px 5px 5px rgba(0,0,0, 0.5);
                @include mq(1200px) {
                    font-size: 18rem;
                }
            }
        }
    }

    &--over {
        position: relative;
        overflow: hidden;
        
        .image__cover {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            &:nth-child(3) {
                width: 100%;
                background-color: $img-overlay-color;
                display: none;
            }
            &:nth-child(2) {
                width: 100%;
                background-color: $primary-color;
                z-index: 4;
                transform: scaleX(0);
                transform-origin: left center;
            }
        }
    }
}

@include mq(768px) {
    .container {
        padding: 0 3rem;
    }
    .xlarge {
        font-size: 5rem;
    }

    .heading {
        font-size: 4rem;
    }

    
    .lines-bottom {
        margin-bottom: 6rem;
        &::before,
        &::after {
            width: 10rem;
            height: 6px;
            left: 4rem;
        }
        &::before {
            bottom: -3rem;
        }
        &::after {
            bottom: -5rem;
            left: 8rem;
        }
    }
}
@include mq(900px) {
    .xlarge {
        font-size: 6rem;
    }
    .heading {
        font-size: 5rem;

        &::before {
            margin-right: 6rem;
        }
    }
    .text {
        flex-direction: row;

        &__item {
            width: 35%;

            &--big {
                width: 60%;
            }
        }
    }
}
@include mq(1300px) {
    .xlarge {
        font-size: 8rem;
    }
}
@include mq(1400px) {
    .xlarge {
        font-size: 9rem;
    }
}