*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: $font-stack;
    line-height: 1.5;
    background-color: $bg-color;
    color: $text-color;
}

h1,h2,h3,h4 {
    line-height: 1;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

.container {
    width: 100%;
    max-width: 1400px;
    height: 100%;
    margin: 0 auto;
    padding: 0 2rem;
    overflow: hidden;
}


.section {
    width: 100%;
    height: 100vh;
    padding: 2rem 0;
}


.flex {
    height: 100%;
    display: flex;

    &-ai-center {
        align-items: center;
    }
}

// Text 
.xlarge {
    font-size: 4.5rem;
    letter-spacing: 3px;
    margin-bottom: 2rem;
}

.lines-bottom {
    position: relative;
    margin-bottom: 4.5rem;

    &::before,
    &::after {
        content: '';
        width: 6rem;
        height: 4px;
        background-color: $primary-color;
        position: absolute;
        left: 0;    
    }

    &::before {
        bottom: -2rem;
    }
    &::after {
        bottom: -3rem;
        left: 3rem;
    }
}

.btn-wrap {
    width: 100%;
    @include flexCenter;
}

.btn {
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: none;
    padding: 1rem 2rem;
    background-color: $primary-color;
    color: $text-color;
    border-radius: 50rem;
}

.not-clickable {
    opacity: 0.8;
    pointer-events: none;
    &::before {
        transform: scaleX(1) !important;
    }
}

.js-slide-left {
    transform: translateX(-100%);
}

// .curtain {
//     width: 100%;
//     height: 100vh;
//     position: fixed;
//     top: 0;
//     left: 0;
//     background-color: darken($bg-color, 30%);
//     transform: translateY(100%);
//     z-index: 9999;
// }
.curtain {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: darken($bg-color, 5%);
    //transform: translateY(100%);
    transform: scaleY(0);
    transform-origin: center top;
    z-index: 9999;
}


.main-image {
    width: 100%;
    height: 70vh;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@include mq(768px) {
    .container {
        padding: 0 3rem;
    }
    .xlarge {
        font-size: 5rem;
    }
    .lines-bottom {
        margin-bottom: 6rem;
        &::before,
        &::after {
            width: 10rem;
            height: 6px;
        }
        &::before {
            bottom: -3rem;
        }
        &::after {
            bottom: -5rem;
        }
    }
}
@include mq(900px) {
    .xlarge {
        font-size: 6rem;
    }
}
@include mq(1300px) {
    .xlarge {
        font-size: 8rem;
    }
}
@include mq(1400px) {
    .xlarge {
        font-size: 9rem;
    }
}