$primary-color: #ff4d5a;
$secondary-color: #8c2b7a;
$bg-color: #072142;
$text-color: #fff;
$img-overlay-color: #072142;

$font-stack: 'Poppins', Arial, sans-serif;
$font-stack-secondary: 'Open Sans', Arial, sans-serif;
$font-inknut: 'Inknut Antiqua', 'Poppins', Arial, sans-serif;

$t-time: 400ms;
$t-ease: ease-in-out;
