.fullwidth-section {
    padding: 0;
    width: 100%;
    overflow: hidden;

    .section__content {
        height: 100%;
    }

    .image {
        height: 100vh;
        margin-top: 0 !important;
        display: block;

        img {
            opacity: 1;
        }

        @include mq(768px) {
            width: 60%;
            margin-left: auto;
        }
    }

    .title {
        top: 60%;

    }
}